* {
    font-family: 'JetBrains Mono';
    font-size: 12px;
    color: #fff;
}

body {
    background-color: #291739;
    margin: 0;
    padding: 0;
}

input {
    color: black;
}

button {
    border: 2px solid #fff;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    background-color: #291739;
    transition: 0.08s;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
    color: black;
}

.href-button {
    border: 2px solid #fff;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    background-color: #291739;
    transition: 0.08s;
    text-decoration: none;
}

.href-button:hover {
    background-color: #ccc;
    color: black;
}